{
  "plugins": ["react", "react-native", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["airbnb", "prettier"],
  "parser": "@babel/eslint-parser",
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
  }
}
